#text1 {
    display: inline-block;
    width: 25vw;

}

#image1 {
  
    width: 20vw;
    margin: 2vw;

}

#text2 {
    display: inline-block;
    width: 25vw;
}

#image2 {
    width: 20vw;
    margin: 2vw;

}